@import url('https://fonts.googleapis.com/css?family=Eczar');
body,h1, .container, .resBox, .upDel, #rus, .inut, .box, #todo, p, input, .edit {
    box-sizing: border-box;
} body {
    margin: 0px;
} input:focus, textarea {
    outline: none !important;
}#placeHolderTodo {
    position: absolute;
    left: 40px;
    top: 33px;
    color: #4aa7ad;
    font-size: 30px;
    width: fit-content;
    z-index: -1;
    background: linear-gradient(to left, #d5efcf ,#0000);
    border-radius: 10px 0;
    height: 8px;
    transform: rotate(180deg);
    opacity: 0.3;
} #placeHolderTodo > div {
    transform: rotate(180deg);
    margin-top: -2px;
}
body > h1 {
    text-align: center;
    color: #4aa7ad;
    font-family: 'Eczar', serif;
    letter-spacing: 2.5px;
}
.container {
    margin: auto;
    width: 580px;
}
.resBox {
    min-height: 50px;
    padding: 7px 7px 0 7px;
    overflow: hidden;
    margin: 7px;
    box-shadow: 0 9px 15px -12.7px black;
    border-collapse: collapse;
    display: grid;
    grid-template-rows: auto auto;
    border-radius: 20px;
    background: white;
}
.resBox > p, .upDel  {
    width: 100%;
    /* height: 20px; */
    padding: 10px 10px;
    margin: auto;
    display: inline-block;
    overflow: overlay;
    text-overflow: ellipsis;
}
.upDel  {
    width: 100%;
    height: auto;
    direction: rtl;
}
.upDel button {
    background: blue;
    color: white;
    border-radius: 5px;
    border: none;
    width: 60px;
    height: 28px;
}
.upDel #del {
    background: red;
} .upDel #edit {
    background: #23bd23;
} .edit {
    background: #ffffff;
    width: 100%;
    height: 0px;
    transition: 500ms;
    overflow: hidden;
    display: grid;
    grid-template-columns: 80% auto;
} input[type="datetime-local" i] {
    width: 80%;
    border-radius: 25px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10%;
    border: 2px dashed blue;
    border-right: 2px solid blue;
    background: navajowhite;
} .edit label > div {
    left: 15%;
    background: navajowhite;
    height: 10px;
    top: 30px;
    padding: 0 5px;
    position: relative;
    transform: rotate(180deg);
    width: fit-content;
} .edit label > div > div {
    transform: rotate(180deg);
} .edit > button {
    width: 52px;
    height: 52px;
    border: 2px dashed blue;
    z-index: 0;
    position: relative;
    border-radius: 50%;
    background: orange;
    top: calc(50% - 26px);
}
#res {
    width: 80%;
    margin: auto;
}
.inut {
    width: 80%;
    margin: auto;
    display: block;
    height: 38px;
    position: sticky;
    z-index: 2;
    top: 0px;
    background: white;
}
.MenuEmptybox {
    width: 100%;
    height: 11px;
    background: white;
    position: sticky;
    top: 0px;
    z-index: -1;
}
.inut form button {
    display: none;
}
#todo {
    border-radius: 20px;
    border: none;
    box-shadow: 0 13px 17px -15px blue;
    height: 40px;
    width: 100%;
    text-indent: 20px;
    font-size: 20px;
    font-weight: 500;
    background: transparent;
} #index {
    grid-column: 1 /span 3;
}
@media only screen and (max-width:800px) {
    .container {
        width:100%;
    }
    .upDel {
        width: 100%;
    }
    #res {
        width: 100%;
    }
    .inut {
        width: 100%;
    }
}