.loginDetails, .formBox input, .formBox, .formBox input, .formBox button,.displayName {
    box-sizing: border-box;
}
.loginDetails {
    display: grid;
    grid-template-columns: auto auto;
    background: white;
    box-shadow: 0 5px 10px -8px;
    height: 50px;
}
.formBox {
    margin: auto;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 24% 24% auto auto auto ;
}
.formBox input {
    margin: auto;
    width: 95%;
    border-radius: 10px;
    padding-left: 8px;
    margin: auto;
    height: 30px;
    direction: ltr;
} .formBox button img {
    height: 100%;
} #loginGoogle {
    background: white;
}
.formBox button {
    width: 95%;
    height: 30px;
    background: blue;
    position: relative;
    border: none;
    color: white;
    border-radius: 5px;
} .formBox button[name="logout"] {
    display: none;
} .displayName {
    display: flex;
    align-items: center;
    text-indent: 10px;
    justify-content: center;
} #btnlogout {
    min-width: 80px;
}